@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  --primary: rgba(104, 7, 14, 1);
  --secondary: rgba(255, 255, 255, 1);
  --accent: rgba(84, 83, 83, 1);
}

h1 {
  color: var(--primary);
  font-size: 6rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "Inter", sans-serif;
  color: var(--primary);
}

h3 {
  font-family: "Inter", sans-serif;
  color: var(--primary);
}

h4 {
  color: var(--primary);
  font-size: 6rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 20px 100px 20px 100px;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: var(--secondary);
}

a {
  font-family: "Inter", sans-serif;
  color: var(--primary);
}
/*put fonte over den her*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Navigation */
header {
  position: sticky;
  top: 0;

  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 0px;
  background-color: #ffffff;
}

.osv_logo {
  width: 200px;
}

#top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--primary);
}

#bottom_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

#bottom_header_index {
  display: none;
}

nav {
  display: flex;
  align-items: center;

  font-family: "Open sans", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;

  /* margin-bottom: 100px; */
}

.search {
  list-style: none;
  margin: 0;
  display: block;
  padding-right: 20px;
  color: var(--primary);
  text-decoration: none;
  transition-duration: 0.4s;
  text-align: end;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: var(--primary);
  text-decoration: none;
  transition-duration: 0.4s;
  text-align: end;
}

nav a:visited {
  text-decoration: underline;
  color: var(--primary);
}
nav a:hover {
  text-decoration: underline;
}
nav a:active {
  text-decoration: underline;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

.osv_logo_index {
  display: none;
}

#osv_title_index {
  display: none;
}

@media (max-width: 1200px) {
  /* ---------------- BURGER MENU ---------------- */
  header {
    padding: 20px 0px 20px 0px;
  }

  .search {
    display: none;
  }

  .menu {
    display: none;
  }
  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .osv_logo {
    width: 50px;
  }
  h1 {
    font-size: 2rem;
  }

  #top_header {
    padding: 2% 2% 5% 0;
    border-bottom: 2px solid var(--primary);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--secondary);
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 1.5rem;
  }
  .cart {
    display: none;
  }

  #osv_title {
    text-align: center;
  }
  h4 {
    display: none;
  }

  #osv_title_index {
    display: block;
    text-align: center;
  }

  .osv_logo_index {
    display: block;
    width: 50px;
  }

  #bottom_header_index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
  }
}
