.bukserbillede {
  align-self: stretch;
  object-fit: cover;
}

.container {
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 20px 0;
}

.main-image img {
  width: 100%;
  height: auto;
  display: block;
}

.trøjer {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  object-fit: cover;
}

.sko_tøj {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 190%;
}

.bukser {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bukser_2 {
  display: grid;
  grid-template-rows: 10fr 1fr;
}

.bukser_3 {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

.bukserbillede {
  grid-column: 1/4;
  grid-row: 1/4;
  align-self: stretch;
  object-fit: cover;
}
.bukser_grid {
  grid-column: 2/3;
  grid-row: 2/3;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.bukser_grid_text {
  opacity: 1;
}
.item {
  width: 48%;
  text-align: center;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

.taske {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  object-fit: cover;
  width: 190%;
}

.item img {
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

.text {
  color: white;
  font-size: 20px;
  text-align: center;
}

.description {
  font-weight: bold;
  margin: 10px 0 5px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

h1 {
  border-bottom: var(--primary) 2px solid;
  font-size: 1rem;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 3%;
  text-align: center;
}

h2 {
  font-size: 0.8rem;
  color: black;
  text-align: center;
  margin: 8%;
  font-family: inter;
}

.price {
  color: rgb(164, 22, 22);
}

/*TAGER FRA NET*/

.container {
  position: relative;
  display: grid;
}

.container img {
  align-self: stretch;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 5%;
  right: 0;
  height: 90%;
  width: 90%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ffffff5d;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: var(--secondary);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (min-width: 750px) {
  .bukser {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .gap {
    grid-column: 3/4;
  }
  h1 {
    padding: 100px 0 10px 0;
    font-size: 2rem;
  }
}
